/* Makes the webpage font arial */
body {
    font-family: Arial;
}

/* Centers the main header */
h1, h2 {
    text-align: center;
}

/* Centers the headers */
.center {
    text-align: center;
}

/* Creates a flexbox that makes the visualizations side by side */
.flexbox {
    display: flex;
    flex-direction: row;
}

/* Each column takes half of the webpage */
#column {
    flex:50%;
}

/*This customizes the tooltip bar when a user hovers over a line on the bar graph */
.tooltip {
    position: absolute;
    background-color: lightgrey;
    border:  solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
}